<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro Funcionario</title>
    <link rel="icon" type="image/png" th:href="@{/image/empresa-icon.png}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Meu CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="form-container">

        <h2 class="page-title">
            Cadastrar Funcionário
        </h2>

        <form class="system-form" th:action="@{/funcionarioCTR/salvarFuncionario}" method="post"
            th:object="${funcionario}">

            <input type="hidden" th:field="*{id_funcionario}" />

            <div class="form-group">
                <label for="nome_funcionario">
                    Nome:
                </label>

                <input type="text" id="nome_funcionario" class="form-input" th:field="*{nome_funcionario}" required>
            </div>


            <div class="form-group">
                <label for="cargo_funcionario">
                    Cargo:
                </label>

                <input type="text" id="cargo_funcionario" class="form-input" th:field="*{cargo_funcionario}" required>
            </div>


            <div class="form-group">
                <label for="salario_funcionario">
                    Salário:
                </label>

                <input type="number" id="salario_funcionario" step="0.01" class="form-input"
                    th:field="*{salario_funcionario}" required>
            </div>


            <div class="form-group">
                <label for="empresaID">
                    Empresa:
                </label>

                <select id="empresaID" class="form-input" th:field="*{empresaID}" required>

                    <option value="">
                        Selecione uma empresa
                    </option>

                    <option th:each="emp : ${empresas}" th:value="${emp.id_empresa}" th:text="${emp.nome_empresa}">
                    </option>

                </select>
            </div>


            <div class="form-actions">

                <a th:href="@{/funcionarioCTR/listarAll}" class="btn-form btn-back">
                    Voltar
                </a>

                <button type="submit" class="btn-form">
                    Salvar
                </button>

            </div>

        </form>

    </div>

</body>

</html>