<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empresa</title>

</head>
<body>

    <h2>Lista de Empresas Cadastradas</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Empresa</th>
                <th>CNPJ</th>
                <th>Ramo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empresa : ${dadosEmpresas}">
                <td th:text="${empresa.id_empresa}"></td>
                <td th:text="${empresa.nome_empresa}"></td>
                <td th:text="${empresa.cnpj_empresa}"></td>
                <td th:text="${empresa.ramo_empresa}"></td>

                <td>
                    <a th:href="@{/empresaCTR/editar/{id}(id=${empresa.id_empresa})}">Editar</a> |
                    <a th:href="@{/empresaCTR/excluir/{id}(id=${empresa.id_empresa})}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/empresaCTR/formCadastrar}">+ Cadastrar Novo Aluno</a>

</body>
</html>