<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empresa</title>
    <link rel="icon" type="image/png" th:href="@{/image/empresa-icon.png}">
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Meu CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body th:replace="~{fragments/layout :: layout('empresas', ~{::main})}">

    <main th:fragment="main">

        <h2 class="page-title">Lista de Empresas Cadastradas</h2>

        <a class="btn-action" th:href="@{/empresaCTR/formCadastrar}">+ Cadastrar Nova Empresa</a>
        <!-- Tabela Responsiva -->
        <div class="table-responsive">

            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome Empresa</th>
                        <th>CNPJ</th>
                        <th>Ramo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empresa : ${dadosEmpresas}">
                        <td th:text="${empresa.id_empresa}"></td>
                        <td th:text="${empresa.nome_empresa}"></td>
                        <td th:text="${empresa.cnpj_empresa}"></td>
                        <td th:text="${empresa.ramo_empresa}"></td>

                        <td>
                            <a th:href="@{/empresaCTR/editar/{id}(id=${empresa.id_empresa})}">[ Editar ]</a> |
                            <a th:href="@{/empresaCTR/excluir/{id}(id=${empresa.id_empresa})}"
                                onclick="return confirm('Tem certeza que deseja excluir?');">[ Excluir ]</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </main>

    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>